<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<context:component-scan base-package="com.chaoyue.message" />

    <beans:bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <beans:property name="basename" value="classpath:i18n/messages"/>
        <beans:property name="fileEncodings" value="utf-8"/>
        <beans:property name="cacheSeconds" value="120"/>
        <beans:property name="useCodeAsDefaultMessage" value="true"/>
    </beans:bean>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath*:/config/*.properties</value>
                <!--<value>file:/data/etc/common/*.properties</value>-->
                <!--<value>file:/data/etc/projects/miniprog-manager-service.properties</value>-->
            </list>
        </property>
    </bean>

    <bean id="propertyConfigUtils"
          class="com.chaoyue.utils.PropertyConfigUtils">
        <property name="locations">
            <list>
                <value>classpath*:/config/*.properties</value>
                <!--<value>file:/data/etc/common/*.properties</value>-->
                <!--<value>file:/data/etc/projects/miniprog-manager-service.properties</value>-->
            </list>
        </property>
        <property name="fileEncoding" value="UTF-8"/>
    </bean>

</beans>
